/* General Styles*/

:root {
  --color-main: #143774;
  --color-secondary: #efe9e7;
  --color-tertiary: #1792d2;
  --color-accent: #bfab25;
  --font-main: 'Catamaran', sans-serif;
  --font-secondary: 'Slabo 27px', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-main);
  color: var(--color-secondary);
  box-sizing: border-box;
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--color-main);
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  font-weight: 400;
  margin: 15px 45px;
}

h3 {
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1.5em auto;
  text-align: center;
}

h4,
p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

h4 {
  margin-top: 0.5em;
}

p {
  font-size: 1.2rem;
}

a {
  background: var(--color-accent);
  color: var(--color-main);
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  margin-left: 1em;
  padding: 0.4em 0.8em;
}

.fa {
  font-size: 2.5rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}

li {
  list-style: none;
  margin-left: 1.5em;
}


/* Header */

header {
  background-color: var(--color-main);
  background-image: url(images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
}

nav {
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  margin: 15px 45px;
}

nav ul li a {
  background: unset;
  color: var(--color-tertiary);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

nav ul li a:hover,
nav ul li a:active {
  color: var(--color-main);
}

.title,
.subtitle {
  color: var(--color-secondary);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1em;
}

.title span {
  color: var(--color-accent);
  font-family: var(--font-secondary);
  font-size: 1.8rem;
}

.cta {
  width: fit-content;
  align-self: center;
  margin: 0;
  transition: transform 0.3s;
}

.cta:hover {
  transform: scale(1.1);
}

.cta:active {
  transform: scale(0.9);
}


/* Skills Section */

#skills {
  padding-top: 1em;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em 10%;
}

.svg {
  max-height: 100px;
  max-width: 100px;
  min-height: 75px;
  min-width: 75px;
  margin: 10px;
}

/* Main (Work) */

#work {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-column-gap: 35px;
  grid-row-gap: 70px;
  margin: 1em auto;
  width: 90%;
}

#work h3 {
  grid-column: 1/-1;
  margin: 0;
  margin-top: 2.5em;
  padding-top: 0.5em;
}

.featured {
  height: 350px;
}

.featured-img {
  outline: 5px solid var(--color-accent);
  height: 300px;
  position: relative;
}

.featured img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(191,171,37,0.9);
  color: var(--color-main);
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay > * {
  font-size: 1.1rem;
  transform: translateY(50px);
  transition: transform 0.3s;
}

.overlay a {
  background-color:var(--color-main);
  color:  var(--color-secondary);
  font-weight: 400;
  transition: background 0.3s;
}

.overlay:hover {
  opacity: 1;
}

.overlay:hover > * {
  transform: translateY(0);
}

.overlay a:hover {
  background-color: var(--color-tertiary);
}

.overlay a:active {
  transform: scale(0.9);
}

.hidden {
  display: none;
}

#view-button {
  grid-column: 1/-1;
  margin: 0 auto;
  transition: transform 0.3s;
}

#view-button:hover {
  transform: scale(1.1);
}

#view-button:active {
  transform: scale(0.9);
}

.disclaimer {
  font-size: 0.75rem;
  grid-column: 1/-1;
}

/* Footer */

#contact {
  background-color: var(--color-main);
  background-image: url(images/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: 100vh;
  padding-top: 1.5em;
}

#contact ul {
  justify-content: center;
}

#contact li {
  transition: transform 0.3s;
}

#contact li:hover {
  transform: scale(1.1);
}

#contact li:active {
  transform: scale(0.9);
}

#contact li:first-child {
  margin-left: 0;
}

#contact a {
  margin: 1em;
  padding-top: 1.5em;
}
