/* General Styles*/

:root {
  --color-main: #0A2472;
  --color-secondary: #FFFB46;
  --color-accent: #FF36AB;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: var(--color-main);
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--color-secondary);
  font-size: 2.2rem;
  margin-top: 30px;
  margin-left: 60px;
}

h3 {
  color: var(--color-secondary);
  font-size: 1.8rem;
  margin-top: 60px;
}

h3,
h4,
p {
  text-align: center;
}

h4 {
  margin-top: 0.5em;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: var(--color-secondary);
}

.fa {
  font-size: 2.5rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}

li {
  list-style: none;
  margin-left: 1.5em;
}

.button {
  color: #000;
  cursor: pointer;
  background-color: var(--color-secondary);
  height: 0.75em;
  width: 1.5em;
}

/* Header */

nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

nav ul {
  margin-top: 30px;
  margin-right: 60px;
}

.title,
.subtitle {
  width: 50%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

.title span {
  color: var(--color-secondary);
  font-size: 1.8rem;
}

.social {
  justify-content: center;
}

.social li:first-child {
  margin-left: 0;
}

/* Skills Section */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
  grid-template-rows: repeat(auto-fill, minmax(50px, 100px));
  grid-gap: 1.5em;
}

.svgs {
  width: 100%;
  max-height: 100%;
}

/* Main (Work) */

#work {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-column-gap: 35px;
  grid-row-gap: 70px;
  margin: 1em auto;
  width: 90%;
}

#work section {
  border: 2px solid blue;
  height: 300px;
}

main h3 {
  grid-column: 1/-1;
}

.featured {
  position: relative;
}

.featured img {
  display: block;
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  transition: transform 0.3s;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.8);
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay > * {
  padding: 1em;
  transform: translateX(50px);
  transition: transform 0.3s;
}

.overlay:hover {
  opacity: 1;
}

.overlay:hover > * {
  transform: translateX(0);
}

.hidden {
  display: none;
}

main > button {
  grid-column: 1/-1;
  margin: 0 auto;
}

.disclaimer {
  font-size: 0.75rem;
  grid-column: 1/-1;
}

/* Footer */

#contact ul {
  justify-content: center;
}

#contact li:first-child {
  margin-left: 0;
}